{% extends "App/base.html" %}

{% load static %}

{% block content %}

    <div class="cuadro" style="margin-left: 10%;">

        <div class="imagen-cuadro">
        <img src="https://cdn4.iconfinder.com/data/icons/web-pack/64/alarm-512.png" alt="Puntualidad">
        </div>
        
        <div class="titulo-cuadro">
        <h2>¡Siempre a tiempo!</h2>
        </div>

        <div class="parrafo-cuadro">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        </p>
        </div>

    </div>

    <div class="cuadro" style="margin-left: 25%;">

        <div class="imagen-cuadro">
        <img src="https://icon-library.com/images/high-quality-icon-png/high-quality-icon-png-17.jpg" alt="Puntualidad">
        </div>

        <div class="titulo-cuadro">
        <h2>¡Los mejores precios!</h2>
        </div>

        <div class="parrafo-cuadro">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        </p>
        </div>

    </div>

    <div class="cuadro" style="margin-left: 10%;">

        <div class="imagen-cuadro">
        <img src="https://icon-library.com/images/click-finger-icon/click-finger-icon-2.jpg" alt="Puntualidad">
        </div>

        <div class="titulo-cuadro">
        <h2>¡A un click!</h2>
        </div>

        <div class="parrafo-cuadro">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br>
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
        </p>
        </div>
        
    </div>

{% endblock %}