{% load tags %}

{% load static %}

<!DOCTYPE html>
<html lang="en" class="contenedor-inicio-sesion">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://bit.ly/3NaSte8">
    <link rel="stylesheet" href="{% static 'App/estilo.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Tienda Online</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    window.onload = function(){
        document.getElementsByTagName("form")[0].onsubmit = submit;
    }
    function submit (e){
        e.preventDefault();
        $.ajax({
            url: "/iniciosesion/",
            method: "POST",
            data:{
                "nombre": document.getElementsByName("nombre_sesion")[0].value,
                "contrasena": document.getElementsByName("contrasena_sesion")[0].value,      
            },
            headers: { "X-CSRFToken": "{{csrf_token}}" },
            beforeSend: function(){
                $("#continuar").hide();
                document.getElementById("cargar-mas-load").style.visibility = "visible";
            },
            success: function(response){
                if (response=="Error") {
                    try {
                        document.getElementsByClassName("mensaje")[0].remove();
                    } catch (e) {
                        
                    };
                    $("#continuar").show();
                    document.getElementById("cargar-mas-load").style.visibility = "hidden";
                    let error_alerta = document.createElement("div");
                    error_alerta.classList.add("mensaje");
                    error_alerta.innerHTML = "La información no coincide. Por favor intente de nuevo.";
                    error_alerta.style = "position: absolute; left: 10%;top: -1%;right: 10%;opacity: 0;";
                    document.body.insertBefore(error_alerta,document.body.firstElementChild);
                    $(error_alerta).animate({opacity: 1,top: "3%"},150);
                } else {
                    location.replace(response);
                }
            }
        })
    };
</script>
<body>
    <div class="contenedor-atras-vista-producto" onclick="history.back()" style="top: 20px;left: 20px;"><div class="material-symbols-outlined" id="atras-vista-producto">arrow_back_ios_new</div></div>
    <div class="contenedor-form-inicio-sesion" style="box-shadow: 4px 4px 5px rgba(0,0,0,0.2);">
        {% block content %}
            <div class="titulo-sesion">Inicio Sesión</div>
            <form method="POST" class="contenedor-form-inicio-sesion" onsubmit="submit(e)">
                {% csrf_token %}
                <div style="margin-top: 75px;">
                    <span class="material-symbols-outlined" style="margin-left: 16px;font-size: 40px;position: absolute;margin-top: 6px;">person</span>
                    <input type="text" name="nombre_sesion" class="input-sesion" placeholder="Nombre" spellcheck="false" required/>
                </div>
                <div style="margin-top: 50px;">
                    <span class="material-symbols-outlined" style="margin-left: 16px;font-size: 40px;position: absolute;margin-top: 6px;">lock</span>
                    <input type="password" name="contrasena_sesion" class="input-sesion" placeholder="Contraseña" required/>
                </div>
                <a class="min-texto" href="/contrasena">¿Olvidaste tu contraseña?</a>
                <input type="submit" value="Continuar" class="continuar-inicio-sesion" id="continuar">
                <div style="position: absolute;bottom: 27%;visibility: hidden;" id="cargar-mas-load"></div>
                <div style="margin-top: auto;margin-bottom: 10px;align-self: flex-start;margin-left: 30px;font-size: small;">¿No tienes cuenta? <a class="min-texto" href="/crearcuenta">Crea una cuenta</a></div>
            </form>
        {% endblock %}
    </div>
</body>
</html>